#event-logger {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  padding: 40px;
  margin: 10px;
  width: 600px;
  height: 400px;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(5px);
}

@keyframes fadein {
  from {
    margin-top: -5px;
    opacity: 0;
  }

  to {
    margin-top: 5px;
    opacity: 1;
  }
}
.event {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 3px;
  // background: #fafafa;
  color: #777;
  font-size: 10pt;
  display: flex;
  min-height: 20px;
  animation-duration: 0.5s;
  animation-name: fadein;
  display: flex;
  flex-direction: column;

  .main-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .data {
    border-top: dotted 1px rgb(65, 159, 202);
    margin-top: 5px;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 5px;
  }

  &.open {
    // background: #d5ff72;
    color: rgb(95, 146, 37);
    border: solid 1px rgb(95, 146, 37);

    .close-button {
      color: rgb(95, 146, 37);
      border: solid 1px rgb(95, 146, 37);
    }
  }

  &.message {
    // background: #d2feff;
    color: rgb(65, 159, 202);
    border: solid 1px rgb(65, 159, 202);

    .close-button {
      color: rgb(65, 159, 202);
      border: solid 1px rgb(65, 159, 202);
    }
  }

  &.error {
    color: #ffea72;
    border: solid 1px #ffea72;

    .close-button {
      color: #ffea72;
      border: solid 1px #ffea72;
    }
  }

  &.close {
    // background: #ffd2d2;
    color: rgb(177, 73, 73);
    border: solid 1px rgb(177, 73, 73);
    .close-button {
      color: rgb(177, 73, 73);
      border: solid 1px rgb(177, 73, 73);
    }
  }

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6pt;
    text-transform: uppercase;
    width: 60px;
  }

  .date {
    display: flex;
    font-size: 10pt;
    width: 90px;
    padding-left: 10px;
  }

  .info {
    font-size: 10pt;
    display: flex;
    width: 410px;
  }

  .close-button {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
