form#send-message {
  display: flex;
  flex-direction: column;

  textarea {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 5px;
    font-size: 10pt;
    width: calc(100% - 20px);
    border: none;
    margin-bottom: 10px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  button {
    font-size: 10pt;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px;
    box-shadow: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    opacity: 1;
    width: 100%;
    background: #327ba1;
    transition: background 0.2s linear, box-shadow 0.2s linear,
      opacity 0.5s linear;

    &:hover {
      cursor: pointer;
      background: #8addf8;
      box-shadow: 0px 0px 20px #8addf8;
    }
  }
}
