$connecting: linear-gradient(#ddf6bc, #b8e986);
$connectingBorder: #7ed321;
$connectingShadow: #b8e986;
$connected: linear-gradient(#cfff6b, #7ed321);
$connectedBorder: #7ed321;
$connectedShadow: #7ed321;
$error: linear-gradient(#fcf53c, #f8e71c);
$errorBorder: #b8aa00;
$errorShadow: #f8e71c;
$closed: linear-gradient(#ff2f60, #d0021b);
$closedBorder: #d0021b;
$closedShadow: #d0021b;

#socket-status {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: white;
  align-items: center;
  font-weight: 200;
  font-size: 10pt;
  letter-spacing: 0.05em;

  .symbol {
    width: 15px;
    height: 15px;
    border-radius: 9px;
    margin: 0px 10px;

    &.Connecting {
      border: solid 1px $connectingBorder;
      background: $connecting;
      box-shadow: 0px 2px 10px $connectingShadow;
    }

    &.Connected {
      border: solid 1px $connectedBorder;
      background: $connected;
      box-shadow: 0px 2px 10px $connectedShadow;
    }

    &.Error {
      border: solid 1px $errorBorder;
      background: $error;
      box-shadow: 0px 2px 10px $errorShadow;
    }

    &.Disconnected {
      border: solid 1px $closedBorder;
      background: $closed;
      box-shadow: 0px 2px 10px $closedShadow;
    }
  }
}
