@keyframes fadeinto {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#websocket-form {
  display: flex;
  justify-content: center;

  form {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.05);
    animation: fadeinto 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;

    label {
      font-size: 12pt;
      color: #fff;
    }

    input[type='text'] {
      padding: 10px;
      border-radius: 5px;
      font-size: 10pt;
      border: none;
      width: 200px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    button {
      font-size: 10pt;
      border-radius: 5px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      color: white;
      border: none;
      padding: 10px;
      box-shadow: none;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
      opacity: 1;
      transition: background 0.2s linear, box-shadow 0.2s linear,
        color 0.2s linear, text-shadow 0.2s linear;

      &:hover {
        cursor: pointer;
      }

      &.connect {
        background: rgb(95, 146, 37);
        // background: #327ba1;
        &:hover {
          // background: #8addf8;
          // box-shadow: 0px 0px 20px #8addf8;
          background: #a3c456;
          box-shadow: 0px 0px 20px #a3c456;
        }
      }

      &.disconnect {
        background: rgb(177, 73, 73);
        &:hover {
          background: rgb(240, 89, 89);
          box-shadow: 0px 0px 20px rgb(240, 89, 89);
        }
      }

      &:disabled {
        background: #eee;
        color: #eee;
        text-shadow: none;

        &:hover {
          background: #eee;
          color: #eee;
          text-shadow: none;
          box-shadow: none;
        }
      }
    }

    #advanced-form {
      display: none;
    }
  }
}
