@keyframes fadeinto {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#websocket-form {
  display: flex;
}

form {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  // background: rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(5px);
  // -webkit-backdrop-filter: blur(5px);
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  animation: fadeinto 1s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 2s;

  label {
    font-size: 12pt;
    color: #fff;
  }

  input[type='text'] {
    padding: 20px;
    padding-left: 25px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 12pt;
    width: 250px;
    color: #fff;
    border: none;

    background: rgba(0, 0, 0, 0.7);

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  button {
    font-size: 12pt;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: white;
    border: none;
    padding: 20px;
    padding-right: 25px;
    box-shadow: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    transition: background 0.2s linear, box-shadow 0.2s linear;

    &.connect {
      background: #327ba1;
      &:hover {
        cursor: pointer;
        background: #8addf8;
        box-shadow: 0px 0px 20px #8addf8;
      }
    }

    &.disconnect {
      background: rgb(177, 73, 73);
      &:hover {
        cursor: pointer;
        background: rgb(240, 89, 89);
        box-shadow: 0px 0px 20px rgb(240, 89, 89);
      }
    }
  }

  #advanced-form {
    display: none;
  }
}
